@model IEnumerable<PurpleNetwork.Models.SubscibersViewModel>

@{
    ViewBag.Title = "Subscriptions";
}

<h2>Subscriptions</h2>

<div class="row">

    @foreach (var u in Model)
    {
    <div class="col l4 m6 s12">
        <div class="card deep-purple lighten-5">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="@u.ImageUrl">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">@u.FirstName&nbsp;@u.LastName<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action deep-purple lighten-4">
                @Html.ActionLink("More info", "Info", "Home", new { email = u.Email }, new { style = "color:#fff;" })
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">@u.FirstName&nbsp;@u.LastName<i class="material-icons right">close</i></span>
                <p>@u.Description</p>
                @using (Html.BeginForm("DeleteSubscription", "Home", FormMethod.Post))
                {
                    <input type="hidden" value="@u.Email" name="following" />
                    <button class="waves-effect waves-light btn-small pink lighten-3" type="submit">    
                        Unsibscribe
                        <i class="material-icons right">delete</i>
                    </button>
                }
            </div>
        </div>
    </div>        
    }
</div>



@section scripts {
    <script>
        $(function () {
            $('.subscriptions-link').addClass('active');
        });
    </script>
}